<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <title>Home</title>
  <style>
    nav {
      background: darkslategrey;
      color: #fff;
      text-align: center;
    }
  </style>
</head>
<body>
  <nav>
    <h1>Home</h1>
  </nav>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex consequatur recusandae, laboriosam eveniet et sint rem blanditiis quod? Non, consequatur?</p>
</body>
</html>